[run]
source = remodel
branch = True
relative_files = True
omit =
        */__init__.py
        */venv/*
        */tests/*
        **/tests/
        **/test/
        */test*
        **/__init__.py
        **/_version.py


[report]
skip_empty = true

[xml]
output = coverage.xml